/******* FORM.JS *******/

.mainDivForm {
    
}

form {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(4, 52.4px);
    
}

.searchInput {
    border-radius: 4px;
    border-style: none;
    grid-area: 2/6/3/11;
    border-radius: 30px;
    padding: 10px;
}

.selectDestination {   
    /******* OBS padding left behöver fixas inför responsivitet *******/
    grid-area: 2/11/3/13;
    border-radius: 30px;
    border-style: none;
    padding: 10px;
}

.react-datepicker-wrapper {
    grid-area: 2/13/4/15;
    border-radius: 30px;
}

.datePicker {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    text-align: center;
}
.submitButton {
    background-color: #0088bb;
    grid-area: 2/15/3/16;

    border-radius: 30px;
    border-style: none;
    
}
.submitButton:hover{
    cursor: pointer;
    background-color: #ffdb4b;
}

.newSearchButton {}


/******* FILTER.JS *******/

.mainDivFilter {
    grid-area: 4/3/5/19;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #ffe991;
}

.checkboxContainer input{
    display: none;
}

.checkboxContainer {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-family: sans-serif;
    user-select: none;
    
}

.checkboxContainer .checkmark {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
}

.checkboxContainer input:checked + .checkmark {
    background-color: #2196fc;
}

.checkboxContainer:hover .checkmark {
    background-color: #ccc;
}

.checkboxContainer input:checked + .checkmark:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 9px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.containerLabel {
    position: relative;
    top:5px;
    left: 3px;
}

/******* ROUTE.JS *******/





#notis {
    background-color: pink;
    position: right;
    
}

/******* ROUTELIST.JS *******/

.mainDivInfo {}

.routeProperties {
    color: #ffe991;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sortBy {
    width: 140px;
    height: 35px;
    padding: 10px;
    border-style: none;
    border-radius: 30px;
}

.currency:hover{
    opacity:0.5 ;
}

.currency{
text-align: center;
 border-style: none;
 height: 50px;
 border-radius: 30px;

}
.currencyDiv{
    grid-area: 2/5/2/5; 
}


  .saveButton{
    grid-area: 2/2/2/3;
    background-color: #006699;
    color: #ffcc00;
    height: 6vh;
    border-radius: 14px;
    border: none;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 5%;
    margin-left: 2%;
    padding: 5%;
    margin-top: 15%;
    margin-bottom: 5%;
    
  }
  .mapButton{
    grid-area: 2/3/2/4;
    background-color: #006699;
    color: #ffcc00;
    height: 6vh;
    border-radius: 14px;
    border: none;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 5%;
    margin-top: 15%;
  }
 
   .mapDiv{
    grid-area: 3/2/5/4;
    height : 60vh;
    margin-bottom: 10%;
    margin-top: 4%;
   }
  
   .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(10, 10%);
    background-color: #ffe991;
    width: 90%;
    margin: 5px;
    border-radius: 30px 10px;
    border-color: #0088bb;
    justify-content: space-between;
    padding: 10px;
    
}

.routeDiv{
}



.transport{
    grid-area: 1/2/1/2;
    font-size: 20px;
    margin-bottom: 5%;
}
.distance{
    grid-area: 1/1/1/1;
    font-size: 20px; 
     margin-bottom: 5%;
}   
 .duration{
    grid-area: 1/3/1/3;
    font-size: 20px;
    margin-bottom: 5%;
 }
 .price{
    grid-area: 1/4/1/4;
    font-size: 20px;
    margin-bottom: 5%;
 }
 

 /**** MYSAVEDMODAL.JS ****/

 .savedModalButton{
    grid-area: 1/1/1/1;
    background-color: #006699;
    color: #ffcc00;
    border-style: solid;
    border-color: #ffcc00;
    border: 1px;
    width: 90px;
    height: 20px;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .deleteRoute{
    background-color: red;
    color: #ffcc00;
    border-style: solid;
    border-color: #ffcc00;
    border: 1px;
    width: 20%;
    height: 100%;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

  .savedRoutesList{
    background-color: #2196fc;
    width: 90%;
    margin: 5px;
    border-radius: 30px 10px;
    border-color: #006699;
    justify-content: space-between;
    padding: 10px;
  }

  .savedRoutesModal{
    background-color: #ffcc00;
    height: 100%;
  }

  .ReactModalPortal{
      padding: 0px;
  }

 