 html,
        body,
        h1,
        h2,
        h3,
        p,
        ol,
        ul,
        li,
        a {
            padding: 0;
            border: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
           
        }

.grid-container {
  width: 100vw;
  height: 100vh;
  background-color: #006699;
  position: relative;
  overflow-x: hidden;
  background-image: url(../pics/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 200px;
}

/******* HEADER *******/

header {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(1, 100%);  
  background-color: black;
  background-image: url(../pics/layout.jpg);
}

    .headerLogo {
      grid-area: 1/2/2/3;
    }
    .flag{
      border: none;
      width: 24px;
      height: 24px; 
      margin: 7px; 

        }
        .flag:hover{
          cursor: pointer;
          opacity: 0.5;
        }

        .en{
          background:url(../pics/united-states.png);
          
        }
        .sv{
          background:url(../pics/sweden.png);
          
        }
        .es{
          background:url(../pics/spain.png);
        }
        .fr{
          background:url(../pics/france.png);
        }
        .de{
          background:url(../pics/germany.png);
        }
        .ru{
          background:url(../pics/russia.png)
        }
        header .zh{
          background:url(../pics/china.png)
        }

  header .languages {
    grid-area: 1/5/1/6;
    list-style-type: none;
  }


/******* NAVIGATION *******/

nav {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1, 100%);  
  background-color: #006699;
}
    nav a {
      color: #ffe991;
      text-decoration: none;
      display: flex;
      justify-self: center;
      align-self: center;
    }

/******* MAIN *******/


main {
  
}

  .background-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
  }

  .modal-content {
    width: 850px;
    height: 500px;
    background-color:  white;
    border-radius: 4px;
    position: relative;
  }

  .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 35pt;
    transform: rotate(45deg);
    cursor: pointer;
  }

/******* FOOTER *******/

footer {
  width: 100%;
  height: 5%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(1, 100%);  
  background-color: #006699;
  position: fixed;
  bottom: 0px;
}

    footer a {
      color: #ffe991;
      text-decoration: none;
      font-size: 8pt;
    }

    .footerInfo1 {
      grid-area: 1/9/2/10;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .footerInfo2 {
      grid-area: 1/10/2/11;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .footerInfo3 {
      grid-area: 1/8/2/9;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .insta {
      background-image: url(../pics/instagram.jpg);
    }

    footer a {
      color: #ffcc00;
    }

    .searchInput {
      border-radius: 4px;
      border-style: none;
      grid-area: 5/5/7/7;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
   
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
  
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .checkboxFilterPlane{
   padding: 1%;
   text-align: center;
  }
  .checkboxFilterTrain{
    padding: 1%;
    text-align: center;
    
  }
  .checkboxFilterBus{
    padding: 1%;
    text-align: center;

  }
  .checkboxFilterCar{
    padding: 1%;
    text-align: center;
    


  }
  .FilterText{
 
  }

  .shareDiv{
    display: flex;
  }
  
  .shareButton {
    padding: 20px 5px;
    cursor: pointer;
  }
  .shareButton:hover{
    cursor: pointer;
    opacity: 0.4;
  }

.shareButton {
  padding: 20px 5px;
  cursor: pointer;
}

.shareButton:hover{
  opacity: 0.5;
}

.statMain {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.statMain>h2 {
  margin: 20px;
}

#filterLogo{
 font-size: 35px;
  margin-bottom: 4px;
color: white;

}

