body {
  background-image: url(../pics/background4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 80%;
    background-color: #ffcc00;
  }

header{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(1, 100%);
  background-color: #006699;
}

nav {
  height: 25px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1, 100%);
  background-color: #006699;
}

main {
  /*
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(15, 10%);
  */
  text-align: center;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #006699;
  background-attachment: scroll;
  position: fixed;
  bottom: 0px;

}

.footerContent {
  display: flex;
  flex-direction: row-reverse;
  font-size: 8pt;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(1, 100%);
}

.allRoutes {

  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(10), 100%;
  text-align: center;
}

.routeSegment {
  text-align: center;
  color: #ffcc00;
  background-color: grey;
  border-radius: 4px;
  margin-top: 6px;
  z-index: 2;
}

.routeDiv{
  position: relative;
  top:100px;
padding-left: 15px;
padding-right: 15px;
opacity: 0.9;
padding-left: 20%;
padding-right: 20%;
}