.App {
  text-align: center;
  display: grid;
  background-color: #ffcc00;
}
.ourHeader{
  display:  flex;
  justify-content:  row;
  background-color: #006699;
  
  
}
.headerList{
  display :flex;
  flex-wrap: wrap;
  float : bottom;
  width:100%;
  list-style: none;

}
.projektlogga{
 height :100%;  

}
.ImageDiv{

height : 100px;


}
.listItems {
padding-left: 10px;
padding-right: 10px;
margin-right: 13%;
border: 1px;
border-style: hidden;
display: flex;
word-wrap: break-word;
align-items: center;

border-radius: 6%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.colorChanger{
color: #ffcc00;

}

