.App {
  text-align: center;
 
  background-color: #ffcc00;
}
.ourHeader{
  display:  flex;
  justify-content:  row;
  background-color: #006699;
  
  
}
.headerList{
  display :flex;
  flex-wrap: wrap;
  float : bottom;
  width:100%;
  list-style: none;

}
.projektlogga{
 height :100%;  

}
.ImageDiv{

height : 100px;


}
.listItems {
padding-left: 10px;
padding-right: 10px;
margin-right: 13%;
border: 1px;
border-style: hidden;
display: flex;
word-wrap: break-word;
align-items: center;

border-radius: 6%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.colorChanger{
color: #ffcc00;

}


.toggler2 {
  width: 190px;
  border-radius: 4px;
  background-color: #006699;
  border: none;
  color: #ffcc00;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.toggler2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.toggler2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.toggler2:hover span {
  padding-right: 25px;
}

.toggler2:hover span:after {
  opacity: 1;
  right: 0;
}
.toggler2div{
  margin-top: 30px;
  position: fixed;
 

}


.searchInput {
  width: 30%;
  height: 30px;
  border-radius: 4px;
}

.select {
  width: 10%;
  height:35px;
  border-radius: 4px;
}

.datePicker {
  width: 97%;
  height: 30px;
  border-radius: 4px;
}

.submitBtn {
  width: 53%;
  height: 30px;
  border-radius: 4px;
  border-style: none;
  color: #ffcc00;
  background-color: #006699;
}
